{{!

    POST - PROFILE SIDE
    - Configuration of this file is not required.

}}

    <div class="profile {{post_class}}">
        {{#if primary_author.profile_image}}<img src="{{primary_author.profile_image}}" class="profileimage" alt="{{primary_author.name}}">{{/if}}
        <h4>{{primary_author.name}}</h4>
        {{> social_side }}
        <p>{{primary_author.bio}}</p>
        <hr>
    </div>
