{{!

    POST - PROFILE BOTTOM
    - Configuration of this file is not required.

}}

    <div class="postprofile">
        {{#if primary_author.profile_image}}<img src="{{primary_author.profile_image}}" class="author" alt="{{primary_author.name}}">{{/if}}
        <div class="info">
            <h4>{{primary_author.name}}</h4>
            <a href="{{primary_author.website}}">{{primary_author.website}}</a>
            <p>{{primary_author.bio}}</p>
            {{> social_bottom }}
        </div>
    </div>
